body {
    background-color: black;
    color: white;
    font-family: 'Andada Pro', serif;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

h2 {
    font-size: 60px;
    background-color: rgb(54, 127, 161);
    padding: 8px 24px;
    border-radius: 16px;

}

.section_title{
    margin-bottom: 1rem;
}

#skills_div_title {
    margin-bottom: 10rem;
}

#project_github {
    margin-bottom: 1rem;
    padding: 8px 30px;
    background-color: cadetblue;
    border-radius: 15px;
}

.data {
    width: 10vw;
    text-align: center;
    vertical-align: bottom;
}

.data img {
    max-height: 4rem;
    max-width: 6rem;
}
#horrorscope_container {
    display: flex;
    max-width: 50rem;
    border-radius: 15px;
    text-align: center;
    max-height: 15rem;
    column-gap: .1rem;
}

#horrorscope_video {
   
    height: 15rem;
    width: 25rem;
    border-radius: 10px;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: black;
}

#horrorscope_description {
    background-color: black;
    height: 15rem;
    width: 25rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;

}

.tech_container {
    display: flex;
    align-items: flex-end;
    height: 100%;
    row-gap: 10px;
}

.project_table {
    border-spacing: .3rem;
}
.project_data {
    font-size: .85rem;
    width: 5.1rem;
    height: 5rem;
    vertical-align: bottom;
    column-gap: 2px;
}

.project_data img {
    height: 3rem;
}

#contact {
    height: 10rem;
}

#contact_btn {
    margin-top: 1rem;;
    background-color: grey;
    box-shadow: 3px 8px 8px cadetblue;
}

/* Hero section below here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Andada Pro', serif;
    font-size: 18px;;
}

#hero {
    width: 100%;
    height: 100vh;;
    background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.336)), url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=820&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

}

/* #name_transition {
    transition: 5s;
}
https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=820&q=80
https://www.pexels.com/video/close-up-video-of-a-slice-strawberry-7677604/
#intro_transition {
    transition: 5s;
} */

.container {
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container .info h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.container .info p {
    font-size: 1.2rem;
    max-width: 60%;
}

.container .info a {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    font-size: 1.8rem;
    padding: 0.5em 1.5em;
    margin-top: 2rem;
    visibility: hidden;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}
/*  Hero section above here */


/* parallax effect below here */
/* * {
    border: 0;
    padding: 0;
    margin: 0;
} */

section:nth-child(3) {
    background: darkgrey;
}

section:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.336)), url('https://img2.chinadaily.com.cn/images/202110/21/617103b5a310cdd3d814ca7d.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;    
}


/* parallax effect above here */